.dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  z-index: 3;
  display: none;
  width: max-content;
  height: max-content;
  max-width: 100%;
  text-align: center;
}

.dropdown-show {
  display: block;
}

.fa-caret-down {
  padding: 0 0 0 5px;
}
.dropdown li {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: var(--primary);
  text-align: center;
}
.dropdown li:hover {
  background: var(--primary);
  color: var(--dark);
}
