/* general styling */
:root {
  /* variables */
  --primary: #5983f8;
  --primary-dark: #0b2e8d;
  --dark: rgb(22, 21, 21);
  --shadow: 0 1px 5px rgb(104, 104, 104);
  --grid-node-color: rgb(249, 243, 243);
  --grid-node-color-hover: rgb(0, 0, 0);
  --grid-node-color-vertex: black;
  --grid-node-color-visited-vertex: #5983f8;
}

.light-theme {
  --primary: #5983f8;
  --primary-dark: #0b2e8d;
  --dark: rgb(22, 21, 21);
  --shadow: 0 1px 5px rgb(104, 104, 104);
  --grid-node-color: #f9f3f3;
  --grid-node-color-visited-vertex: #5983f8;
}
.dark-theme {
  --primary: #333;
  --dark: #ccc;
  --shadow: 0 1px 5px rgba(245, 223, 223, 0.459);
  --grid-node-color: #2b2929;
  --grid-node-color-visited-vertex: #5983f8;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
  transition: all 1000ms linear;
}
body {
  background: var(--primary);
  margin: 2rem;
}

/* component styling */
.appContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}

/* navbar */
.navbar {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 50px 200px 1fr 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.themeToggle {
  display: flex;
  justify-content: flex-end;
}
.title {
  font-size: 1.5rem;
  font-weight: bolder;
}
ul {
  margin: 0px;
  padding: 0 0.2rem;
  justify-content: space-around;
  justify-self: stretch;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 0.5rem;
}

ul li {
  background: var(--primary-dark);
  display: flex;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 0.8rem;
  /* font-weight: bolder; */
  box-shadow: var(--shadow);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

ul li:hover {
  color: var(--primary);
  font-weight: bold;
}

li:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  left: 100px;
  top: 0px;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  z-index: 3;
  display: none;
}

.dropdown-show {
  display: block;
  animation-name: dropdown;
}

.fa-caret-down {
  padding: 0 0 0 5px;
}
.dropdown li {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  /* background-color: var(--primary); */
  color: var(--primary);
}
.dropdown li:hover {
  background-color: var(--primary);
  color: var(--dark);
}
/* grid for nodes*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(40, 32px);
  grid-template-rows: repeat(17, 32px);
  justify-content: center;
  margin-top: 2rem;
  /* border: 1px black solid; */
}

/* graph node styles */

/* normal unselected node */
.node {
  background-color: var(--grid-node-color);
  border: none;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.node:hover {
  background-color: var(--grid-node-color-hover);
}

/* node selected as vertex */
.vertex {
  background-color: var(--grid-node-color-vertex);
  border: none;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.visited {
  background-color: var(--grid-node-color-visited-vertex);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* active button which is selected as the first end-point of edge */
.active {
  background-color: var(--primary-dark);
  z-index: 2;
}

/* graph edge: additional styling applied inline*/
.edge {
  border-top: 2px solid black;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
}
